<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hdu.innovationplatform">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/label_login_activity" />
        <activity
            android:name=".SignupActivity"
            android:label="@string/label_signup_activity" />
        <activity
            android:name=".UserInfoActivity"
            android:label="@string/label_user_info_activity" />
        <activity
            android:name=".EditInfoActivity"
            android:label="@string/label_edit_user_info_activity" />
    </application>

</manifest>